h1 {
    text-align: center;
}

.icon{
    position: fixed;
    bottom: 0;
}

.toolBar{
    position: relative;
}

.qr{
    position: absolute;
    right: 7px;
    top: 17px;
    --box-shadow:none;

}
