
h1{
    text-align: center;
}

.btn{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3880ff;
    color: white;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    position: fixed;
    bottom: 50px;
    right: 13px;
    z-index: 2000;

}

.cartBtn{
    margin-right: 40px;
}

